*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    background-color: #01040E;
    color: white;
    
}
body img{ 
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: #fff;
    color: black;
    padding: 2vh 0vh 2vh;
}
h3{ 
    display: flex;
    justify-content: space-between;
}
.head ul { 
    display: flex;
    text-decoration: none;

}
.head ul li{ 
    text-decoration: none;
    
}